{% extends "student/base.html" %}
{% block title %}Preferences{% endblock %}
{% block content %}
<div class="settings-shell -mx-4 sm:mx-0">
    <div class="flex flex-col lg:flex-row gap-6 max-w-6xl mx-auto">
        {% include "partials/settings/nav.html" with settings_url_name="student:settings" account_url_name="student:account_info" password_url_name="student:password_change" notifications_url_name="student:notifications" preferences_url_name="student:preferences" settings_section="preferences" %}
        <div class="flex-1 min-w-0 max-w-xl">
            {% include "partials/settings/preferences_form.html" %}
        </div>
    </div>
</div>
{% include "partials/settings/styles.html" %}
{% include "partials/profile/portal_form_styles.html" %}
{% endblock %}
