{% load ha_icons %}
<a href="{% url 'admin_portal:dashboard' %}" class="sidebar-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">{% ha_icon "bar-chart" size=18 class_name="opacity-80" %} Dashboard</a>
<a href="{% url 'admin_portal:student_list' %}" class="sidebar-link">{% ha_icon "users" size=18 class_name="opacity-80" %} Students</a>
<a href="{% url 'admin_portal:instructor_list' %}" class="sidebar-link">{% ha_icon "user-check" size=18 class_name="opacity-80" %} Instructors</a>
<a href="{% url 'admin_portal:course_list' %}" class="sidebar-link">{% ha_icon "book-open" size=18 class_name="opacity-80" %} Courses</a>
<a href="{% url 'courses_manage:list' %}" class="sidebar-link">{% ha_icon "video" size=18 class_name="opacity-80" %} Videos &amp; Lessons</a>
<a href="{% url 'admin_portal:enrollment_list' %}" class="sidebar-link">{% ha_icon "clipboard-list" size=18 class_name="opacity-80" %} Enrollments</a>
<a href="{% url 'admin_portal:assignment_list' %}" class="sidebar-link">{% ha_icon "file-text" size=18 class_name="opacity-80" %} Assignments</a>
<a href="{% url 'admin_portal:quiz_list' %}" class="sidebar-link">{% ha_icon "help-circle" size=18 class_name="opacity-80" %} Quizzes &amp; Exams</a>
<a href="{% url 'admin_portal:certificate_list' %}" class="sidebar-link">{% ha_icon "graduation-cap" size=18 class_name="opacity-80" %} Certificates</a>
<a href="{% url 'admin_portal:payment_list' %}" class="sidebar-link">{% ha_icon "credit-card" size=18 class_name="opacity-80" %} Payments</a>
<a href="{% url 'admin_portal:library_list' %}" class="sidebar-link">{% ha_icon "library" size=18 class_name="opacity-80" %} Digital Library</a>
<a href="{% url 'admin_portal:notification_list' %}" class="sidebar-link">{% ha_icon "bell" size=18 class_name="opacity-80" %} Notifications</a>
<a href="{% url 'admin_portal:reports' %}" class="sidebar-link">{% ha_icon "trending-up" size=18 class_name="opacity-80" %} Reports</a>
<a href="{% url 'admin_portal:cms_home' %}" class="sidebar-link">{% ha_icon "globe" size=18 class_name="opacity-80" %} Website CMS</a>
<a href="{% url 'admin_portal:settings' %}" class="sidebar-link">{% ha_icon "settings" size=18 class_name="opacity-80" %} Settings</a>
