{% if srcset %}
<img src="{{ src }}" srcset="{{ srcset }}" sizes="{{ sizes }}" alt="{{ alt }}"{% if css_class %} class="{{ css_class }}"{% endif %} loading="{{ loading }}"{% if fetchpriority %} fetchpriority="{{ fetchpriority }}"{% endif %} decoding="sync" width="800" height="450">
{% else %}
<img src="{{ src }}" alt="{{ alt }}"{% if css_class %} class="{{ css_class }}"{% endif %} loading="{{ loading }}"{% if fetchpriority %} fetchpriority="{{ fetchpriority }}"{% endif %} decoding="sync">
{% endif %}
