{% load static %}

<div class="pointer-events-none absolute inset-0 overflow-hidden z-0 select-none" aria-hidden="true">

    {% if position == "bottom-right" %}

    <img src="{% static 'images/logo.png' %}" alt="" loading="lazy" class="brand-watermark absolute -bottom-8 -right-8 w-56 sm:w-72 max-w-[45vw] object-contain">

    {% elif position == "subtle" %}

    <img src="{% static 'images/logo.png' %}" alt="" loading="lazy" class="brand-watermark-subtle absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-64 sm:w-80 max-w-[60vw] object-contain">

    {% else %}

    <img src="{% static 'images/logo.png' %}" alt="" loading="lazy" class="brand-watermark absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-72 sm:w-96 max-w-[70vw] object-contain">

    {% endif %}

</div>

