[Unit]
Description=Hilaac Academy gunicorn socket

[Socket]
ListenStream=/run/hilaac/gunicorn.sock
SocketUser=www-data
SocketMode=660

[Install]
WantedBy=sockets.target
