{% extends "admin_portal/base.html" %}
{% block title %}Personal Info{% endblock %}
{% block content %}
<div class="settings-shell -mx-4 sm:mx-0">
    <div class="flex flex-col lg:flex-row gap-6 max-w-6xl mx-auto">
        {% include "partials/settings/nav.html" with settings_url_name="admin_portal:profile_settings" account_url_name="admin_portal:account_info" password_url_name="admin_portal:password_change" notifications_url_name="admin_portal:my_notifications" preferences_url_name="admin_portal:preferences" settings_section="account" %}
        <div class="flex-1 min-w-0">
            {% include "partials/settings/account_info.html" %}
        </div>
    </div>
</div>
{% include "partials/settings/styles.html" %}
{% endblock %}
